.container {
    background-color: #f4ede5;
  }

  .main-image {
      padding-top: 75px;
      width: 100%;
      margin: auto;
      margin-bottom: 40px;
  }

  .main-content{
      width: 95%;
      margin: auto;
  }

  p {
    margin: 20px 0;
    line-height: 1.25;
  }

  .mc-section-1 {
    p {
      font-size: 2.4rem;
      width: 80%;
      margin-bottom: 40px;
    }
  }
  
  .mc-section-2 {
    h2 {
      margin-bottom: 20px;
    }
    
    .park-assistance {
      img{
        width: 85%;
        margin-bottom: 10px;
      }
      font-weight: bold;
      text-align: right;
    }
  }

  .mc-section-3 {
    img{
      width: 85%;
      margin-bottom: 20px;
    }
    p {
      text-align: right;
    }
    margin-bottom: 70px;
  }

  .mc-section-4 {
    h2 {
      text-align: right;
    }
    .poppins {
      text-align: center;
      color: @h2blue;
      // margin: 0;
    }
    .poppins-1 {
      padding-bottom: 0px;
      margin-bottom: 0px;
      text-align: center;
      color: @h2blue;
    }
    .poppins-2 {
      padding-top: 0px;
      margin-top: 0px;
      text-align: center;
      color: @h2blue;
    }
    .caregiver-image {
    width: 100%;
    height: auto;
    }

    .custom-list{
      // list-style: square inside;
      // border: 1px solid red;
      li {
        list-style: inside circle;
        align-content: center;
        // border: 1px solid red;
        color: @periwinkle;
        font-size: 1.8rem;
        font-weight: bold;
        padding: 5px 0 5px 18%;
        }
      }
      margin-bottom: 70px;
  }
  
  .mc-section-5 {
    h2 {
      text-align: right;
      margin-bottom: 20px;
    }
    .box {
      background-color: @tablecolor;
      border-radius: 50px;
      padding: 20px;
      color: @h2blue;
      width: 90%;
      margin: auto;
      margin-bottom: 20px;
      table, td, tr {
        text-align: center;
        border-spacing: 20px;
        font-size: 2.2rem;
        padding: 20px;
        margin: auto;
        margin-bottom: 10px;
        // border: 1px solid red;
        }
      p {
        color: @h2blue;
        // border: 1px solid black;
        padding: 10px;
        width: 85%;
        margin: auto;
        }
      }
      margin-bottom: 70px;
  }

  .mc-section-6 {
    h2 {
      text-align: right;
    }
    .talk-bubble-1 {
      display: flex;
      flex-direction: row;
      padding: 5%;
      position: relative;
      background: #DADDE1;
      border-radius: 50px 50px 50px 0;
      height: 260px;
      width: 90%;
      // border: 1px solid red;
      margin-left: 10%;
      margin-bottom: 20px;
      .bubble-1-left {
        display: flex;
        flex-direction: column;
        width: auto;
        p {
          text-align: center;
          margin-top: 10px;
        }
      }
      .bubble-1-right {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 70%;
        // border: 1px solid red;
      }
    }
    .talk-bubble-1:after {
      content: '';
	    position: absolute;
      left: 0;
      bottom: 50%;
      width: 0;
      height: 0;
      border: 35px solid transparent;
      border-right-color: #DADDE1;
      border-left: 0;
      border-bottom: 0;
      margin-bottom: -130px;
      margin-left: -24px;
    }

    .talk-bubble-2 {
      p {
        color: @Diswhite;
      }
      display: flex;
      flex-direction: row;
      padding: 5%;
      position: relative;
      background: #7292B8;
      border-radius: 50px 50px 0 50px;
      height: 260px;
      width: 90%;
      // border: 1px solid red;
      margin-right: 10%;
      margin-bottom: 20px;
    }
    .bubble-2-left {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 70%;
      text-align: right;
    }
    .bubble-2-right {
      display: flex;
      flex-direction: column;
      width: auto;
      p {
        text-align: center;
        margin-top: 10px;
      }
      };
    
    .talk-bubble-2:after {
      content: '';
	    position: absolute;
      right: 0;
      bottom: 50%;
      width: 0;
      height: 0;
      border: 35px solid transparent;
      border-left-color: #7292B8;
      border-right: 0;
      border-bottom: 0;
      margin-bottom: -130px;
      margin-right: -24px;
    }

    .talk-bubble-3 {
      display: flex;
      flex-direction: row;
      padding: 5%;
      position: relative;
      background: #DADDE1;
      border-radius: 50px 50px 50px 0;
      height: 260px;
      width: 90%;
      // border: 1px solid red;
      margin-left: 10%;
    }
    .bubble-3-left {
      display: flex;
      flex-direction: column;
      width: auto;
      p {
        text-align: center;
        margin-top: 10px;
      }
    }
    .bubble-3-right {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 70%;
      // border: 1px solid red;
    }
    .talk-bubble-3:after {
      content: '';
	    position: absolute;
      left: 0;
      bottom: 50%;
      width: 0;
      height: 0;
      border: 35px solid transparent;
      border-right-color: #DADDE1;
      border-left: 0;
      border-bottom: 0;
      margin-bottom: -130px;
      margin-left: -24px;
    }
  }

  .bottom-section {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-content: flex-start;
    color: @h2blue;
    margin-bottom: 40px;
    padding-top: 50px;
    // border: 1px solid black;

    .bottom-section-1, .bottom-section-2 {
      // border: 1px solid black;
      width: 50%;
      padding-left: 50px;
    }

    ul {
      a {
        text-decoration: none;
        color: @h2blue;
      }
      font-size: 1.5rem;
      li {
        padding: 5px 0;
      }
    }

    h5 {
      font-weight: bold;
    }
  }

  button {
    display: block;
    background-color: @periwinkle;
    color: white;
    margin: auto;
    cursor: pointer;
    height: 60px;
    width: 90%;
    text-justify: inter-word;
    font-size: 2.8rem;
    border-radius: 50px;
    margin-bottom: 50px;
  
    @media @mobile {
      .button {
        height: 50px;
        font-size: 2.5rem;
      }
    }
  }
  
  footer {
    text-align: center;
    color: @periwinkle;
    padding-bottom: 10px;
    font-size: 2rem;
  }
