.container {
    background-color: blanchedalmond;
  }

  .main-image {
      padding-top: 75px;
      width: 100%;
      margin: auto;
  }

  .main-content{
      width: 95%;
      margin: auto;
  }

  p {
    margin: 20px 0;
    line-height: 1.25;
  }
  
  .park-assistance {
    font-weight: bold;
    text-align: right;
  }
  button {
    display: block;
    background-color: @periwinkle;
    color: white;
    margin: auto;
    cursor: pointer;
    height: 60px;
    width: 100%;
    text-justify: inter-word;
    font-size: 2.8rem;
    border-radius: 50px;
  
    @media @mobile {
      .button {
        height: 50px;
        font-size: 2.5rem;
      }
    }
  }
  
  footer {
    text-align: center;
  }
  