.jumbo{
    padding: 4rem 2rem;
    text-align:center;
    margin: 0 auto;
    background-color:rgb(107, 158, 235)
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 25px;
    color:WHITE
}

.h2{
    font-size: 2rem;
    padding: 10px;
    color:black
}

.btn-primary {
    color: #fff;
    margin-top: 15px;
}

.btn-blue{
    background-color: rgb(31, 138, 226);
    border-color:rgb(52, 16, 255)
}

.btn-blue:hover{
    background-color: rgb(125, 225, 250);
}