.center{
    text-align:center;
    align-items: flex-end;
}

.spaced{
    padding-top: 20px;
    padding-bottom: 40px;
}

.blue{
    background-color: blue;
}

.blue:hover{
    background-color: rgb(23, 23, 186);
}