.col{
    background-color:#12ffff;
    border-color:#181515
}

.col:hover{
    background-color:#627c7b21
}

.bg{
    background-color: rgb(102, 200, 241);
}

p, h1{
    color:rgba(7, 55, 73, 0.886);
}
