.nav-item{ 
    margin: 0 auto;   
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    text-decoration: none;
    list-style: none;
}

.small{
    margin: 0 auto;
    width: 800px;
}