.nav-item{
    display: flex;    
    justify-content: center; 
    align-content: space-evenly;    
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}

.small{
    width: 500px;
}