.pad{
    padding: 3px;
    display: flex;
}

.left{
    margin-right: 10px
}

.smaller{
    text-align:center;
    padding: 2px;
    justify-content:center;
    width: 50px;
    font-size: 10px
}

.wrap{
    padding-left:120px;
    padding-right:120px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.strong{
    font-weight: bold;
    font-size: 20px
}

.shadow{
    box-shadow: 5px 10px;
}

.padding{
    margin-top: 20px;
    width: 100%;
    background-color: blue;
}

.padding:hover{
    background-color: rgb(23, 23, 186);
}

.center{
    text-align:center;
    padding: 0
}

.centered{
    text-align:center
}

input{
    margin-top:20px;
}

.large{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: .5px solid silver
}

.red{
    background-color:#ff1212;
    border-color:#ff1212
}

.red:hover{
    background-color:#d00404
}

.light-blue{
    background-color: rgb(41, 41, 255);
}

.displayFlex{
    display:flex;
    width: 100%;
}

.leftButton{
    width:50%;
}

.rightButton{
    width:50%;
}
.card-subtitle{
    height: 50px;
}
